@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    text-decoration: none;
}

:root {
    --bg-color: rgb(31, 36, 45);
    --secondary-bg-color: #323946;
    --text-color: #FFF;
    --main-color: #29970e;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}

.logo {
    font-size: 3.5rem;
    color: var(--text-color);
    font-weight: 700;
    cursor: default;
}

.navbar a {
    font-size: 2.5rem;
    color: var(--text-color);
    margin-left: 4rem;
    text-transform: uppercase;
    transition: .3s;
    font-weight: 500;
}

.navbar a:hover,
.navbar a.active {
    filter: drop-shadow(0 0 .2rem var(--main-color));
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
}

/* --------------------- icone & menu mobile ----------------------------------- */

@media (max-width: 768px) {
    .menu {
        z-index: 2;
        position: absolute;
        top: 0;
        right: -100%;
        height: 60vh;
        width: 50%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 6rem;
        justify-content: center;
        text-align: center;
        overflow: auto;
        background: var(--secondary-bg-color);
        transition: right 0.8s;
    }

    .menu._active {
        right: 0;
    }
}

.icon {
    display: none;
}

@media (max-width: 768px) {
    .icon {
        display: block;
        height: 18px;
        width: 30px;
        position: relative;
        cursor: pointer;
        z-index: 3;
    }

    .icon span {
        transition: all 0.8s ease 0s;
        top: calc(50% - 1px);
        left: 0;
        position: absolute;
        width: 80%;
        height: 2px;
        background: var(--text-color);
    }

    .icon span:first-child {
        top: 0;
        width: 100%;
    }

    .icon span:last-child {
        top: auto;
        bottom: 0;
        width: 100%;
    }

    .icon._active span {
        transform: scale(0);
    }

    .icon._active span:first-child {
        transform: rotate(225deg);
        top: calc(50% - 1px);
    }

    .icon._active span:last-child {
        transform: rotate(135deg);
        bottom: calc(50% - 1px);
    }

}


/* --------------------- inicio do portifolio -------------------------------- */

.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.imagem-inicio img {
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2rem);
    }
    100% {
        transform: translateY(0);
    }
}

.conteiner-inicio h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.conteiner-inicio h3:nth-of-type(2) {
    margin-bottom: 3rem;
}

span {
    color: var(--main-color);
}

.conteiner-inicio h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.conteiner-inicio p {
    font-size: 1.6rem;
    width: 30vw;
}

.midia-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2.5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.midia-social a:hover {
    background: var(--main-color);
    color: var(--secondary-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1.5rem 3rem;
    border-radius: 4rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--text-color);
    font-size: 1.6rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

/* -------------------- sobre mim --------------------------- */

.sobre {
    background: var(--secondary-bg-color);
    display: grid;
}

.titulo {
    font-size: 4.5rem;
    text-align: right;
}

.tecnologias {
    padding: 100px 0;
    display: flex;
    flex-wrap: wrap;
}

.tecnologias i {
    font-size: 7rem;
    margin: 0 auto;
    transition: .5s ease;
    padding: 40px;
}

.tecnologias i:hover {
    transform: scale(1.3);
}

.sobremim-conteudo h2 {
    text-align: left;
    line-height: 1.2;
}

.sobremim-conteudo h3 {
    font-size: 2.6rem;
}

.sobremim-conteudo p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    width: 60%;
}

.cabeçalho {
    font-size: 4.5rem;
    text-align: center;
}

/* --------------------- projetos ------------------------ */

.projetos {
    margin-bottom: 6rem;
}

.projetos h2 {
    margin-bottom: 6rem;
}

.projetos-conteiner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.projetos-conteiner .projetos-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--secondary-bg-color);
    overflow: hidden;
    display: flex;
}

.projetos-box img {
    width: 100%;
    transition: .5s ease;
}

.projetos-box:hover img {
    filter: blur(.3rem);
    transform: scale(1.1);
}

.projetos-box .projetos-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.projetos-box:hover .projetos-layer {
    transform: translateY(0);
}

.projetos-layer h4 {
    font-size: 3rem;
}

.projetos-layer p {
    font-size: 1.6rem;
    margin: 1rem 0 2rem;
}

.projetos-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.projetos-layer a i {
    font-size: 2rem;
    color: var(--bg-color);
}

/* -------------------- contato ------------------------- */

.contatos {
    background: var(--secondary-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contatos h2 {
    margin-bottom: 3rem;
}

.contatos form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contatos form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contatos form .input-box input,
.contatos form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.7rem;
    background: var(--bg-color);
    border-radius: .8rem;
    margin: 1rem 0 3rem;
    color: var(--text-color);
}

.contatos form .input-box input {
    width: 49%;
}

.contatos form textarea {
    resize: none;
}

.contatos form .btn {
    cursor: pointer;
}

/* ----------------------- arrow up ------------------------ */

/* Animação de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
        /* Inicialmente, deslocada para baixo */
    }

    to {
        opacity: 1;
        transform: translateY(0);
        /* Sem deslocamento vertical */
    }
}

/* Animação de saída */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
        /* Sem deslocamento vertical */
    }

    to {
        opacity: 0;
        transform: translateY(20px);
        /* Desloca para baixo ao sair */
    }
}

.arrow-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--secondary-bg-color);
    width: 40px;
    box-shadow: 0 0 1rem var(--bg-color);
    height: 45px;
    border-radius: .4rem;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    opacity: 0;
    /* Inicialmente, a seta está oculta */
    transition: opacity 0.3s ease;
    /* Transição suave para a propriedade 'opacity' */
}

.arrow-up span {
    font-size: 1.5rem;
    color: #FFF;
}

/* Aplicar a animação de entrada quando a classe 'show' é adicionada */
.arrow-up.show {
    opacity: 1;
    animation-name: fadeIn;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

/* Aplicar a animação de saída quando a classe 'hide' é adicionada */
.arrow-up.hide {
    animation-name: fadeOut;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
}

/* ---------------------- footer ------------------------- */

.footer {
    text-align: center;
}

.footer .footer-texto {
    padding: 2rem 0;
    transition: .5s ease;
}

.footer-texto p {
    font-size: 1.6rem;
}

/* --------- medias query --------- */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {

    .inicio {
        flex-direction: column;
        align-items: flex-start;
    }

    .imagem-inicio img {
        width: 80vw;
        margin-top: 4rem;
        margin-left: 8vw;
    }

    .conteiner-inicio h3 {
        font-size: 2.6rem;
    }

    .conteiner-inicio h1 {
        font-size: 5rem;
    }

    .conteiner-inicio p {
        width: 60vw;
    }

    .sobre {
        gap: 4rem;
    }

    .sobremim-conteudo p {
        width: 80vw;
    }

    .projetos-conteiner {
        grid-template-columns: repeat(2, 1fr);
    }

    .tecnologias {
        padding: 50px 0;
    }
}

@media (max-width: 617px) {
    .projetos-conteiner {
        grid-template-columns: 1fr;
    }

    .imagem-inicio img {
        margin-left: 7vw;
    }

    .tecnologias {
        padding: 30px;
    }

    .tecnologias i {
        font-size: 5rem;
    }

}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .inicio img {
        width: 95vw;
        margin-left: 0;
    }

    .conteiner-inicio p {
        width: 90vw;
    }

    .titulo {
        text-align: center;
    }

    .tecnologias i {
        padding: 25px;
        font-size: 5rem;
    }

    .contatos form .input-box input {
        width: 100%;
    }

    .contatos form .input-box input,
    .contatos form textarea {
        margin: 1rem 0 1rem;
    }

}

@media (max-width: 350px) {
    .conteiner-inicio h1 {
        font-size: 4.5rem;
    }
}